<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class='bg-warning'>
<head>
<title>Menù</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>
</head>
<body>
	<div class='bg-warning'>
		<div class='h1 text-center'>
			Menù<br />
		</div>
		<div>
			<table class='table table-striped table-dark text-center'>
				<tr>
					<td><a href="/apiariz">Apiari</a></td>
				</tr>
				<tr>
					<td><a href="/arniez">Arnie</a></td>
				</tr>
				<tr>
					<td><a href="/produzioniz">Produzioni</a></td>
				</tr>
				<tr>
					<td><a href="/trattamentiz">Trattamenti</a> 
		</td>
				</tr>
				<tr>
					<td><a href="/statistichez">Statistiche</a> 
		</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>