<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class='bg-dark'>
<head>
<title>Produzioni Miele</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="js/bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="messages_it.js"></script>


<script>
var listaIdArnia= new Array();
var listaTipiMiele= new Array();

$(document).ready(
function(){
	getListaIdArnia();
	getListaTipiMiele();
	lista();
});
	
function getListaIdArnia(){
  	 $.get("http://localhost:8082/arnia",
  	 function(data, status){
  	 var cnt = data.length;
  	 
  	 console.log('COUNT = ' + cnt);
  		
     for(let i=0; i<cnt; i++) {
    	listaIdArnia.push(data[i]);	 
     }    
  });
  }
	
	function getListaTipiMiele(){
		 $.get("http://localhost:8082/tipomiele",
				 function(data, status){
			 var cnt = data.length;
			 
			 console.log('COUNT = ' + cnt);
				
		    for(let i=0; i<cnt; i++) {
		   	listaTipiMiele.push(data[i]); 
		    }    
		});
		}

	function lista() {
		$("body").empty();
		$
				.get(
						"http://localhost:8082/miele",
						function(data, status) {
							var cnt = data.length;
							var tr = "";
							$("#tbody").empty();
							
							var table = "<div class='row bg-dark'>"
									+ "<div class='col-2'text-center'><br /><a href='/menu'><button class='btn btn-secondary btn-sm'><i class='fa fa-arrow-left'></i> menù</button></a></div>"
									+ "<div class='col-2'></div>"
									+ "<div class='col-4 text-center h2 text-warning'>"
									+ "<br />Lista Produzioni"
									+ "</div>"
									+ "<div class='col-2'></div>"
									+ "<div class='col-2 text-center'><br /><button class='btn btn-success btn-sm' onclick='inserimento()'><i class='fa fa-plus'></i> inserimento</button></div>"
									+ "</div> <div>"
									+ "<table class='table table-responsive'>"
									+ "<thead class='bg-warning'>" 
									+ "<tr>"
									+ "<th>idProduzione</th>"
									+ "<th>dataProduzione</th>"
									+ "<th>idArnia</th>"
									+ "<th>TipoMiele</th>" 
									+ "<th>quantita</th>"
									+ "<th><div class='col-2'text-center'><a href='http://localhost:8082/download/Miele.xlsx'><button class='btn btn-success btn-sm'> Miele.xlsx</button></a></div></th>"
									+ "<th><div class='col-2'text-center'><a href='http://localhost:8082/download/Miele.pdf'><button class='btn btn-success btn-sm'> Miele.pdf</button></a></div></th>" 
									+ "</tr>" 
									+ "</thead>"
									+ "<tbody id='tbody'>" 
									+ "</tbody>"
									+ "</table>" 
									+ "</div>";
							
							 console.log('COUNT = ' + cnt);
							$("body").append(table);
							
							for (let i = 0; i < cnt; i++) {
								console.log(data[i].idProduzione);

								var idProduzione = data[i].idProduzione;
								var dataProduzione = new Date(data[i].dataProduzione).toLocaleDateString();
								var idArnia = data[i].arnia.idArnia;
								var tipoMiele = data[i].tipoMiele.descrizione;
								var qta = data[i].quantita

								tr = tr
										+ "<tr><td>"
										+ idProduzione
										+ "</td><td>"
										+ dataProduzione
										+ "</td><td>"
										+ idArnia
										+ "</td><td>"
										+ tipoMiele
										+ "</td><td>"
										+ qta
										+ "</td><td><button class='btn btn-primary' onclick='modifica("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-edit'></i> modifica</button> </td>"
										+ "</td><td><button class='btn btn-danger' onclick='elimina("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-trash'></i> elimina</button> </td></tr>";
							}
							$("#tbody").append(tr);
						});
	}

	function modifica(produzioneMiele) {
		$("body").empty();
		
		 var optionIdArnia= "<option value=''>scegli...</option>";
		 var cnt = listaIdArnia.length;
		 for(var i=0; i<cnt; i++){
			 if(produzioneMiele.idArnia == listaIdArnia[i].idArnia){
			 optionIdArnia = optionIdArnia + "<option value='"+ listaIdArnia[i].idArnia +"' selected>"+listaIdArnia[i].idArnia+"</option>";
		 }else{
			 optionIdArnia = optionIdArnia + "<option value='"+ listaIdArnia[i].idArnia +"'>"+listaIdArnia[i].idArnia+"</option>";
		 	}
	 	}
		 
		 var optionTipiMiele= "<option value=''>scegli...</option>";
		 var cnt = listaTipiMiele.length;
		 for(var i=0; i<cnt; i++){
			 if(produzioneMiele.idTipoMiele == listaTipiMiele[i].idTipoMiele){
			 optionTipiMiele = optionTipiMiele + "<option value='"+ listaTipiMiele[i].idTipoMiele +"' selected>"+listaTipiMiele[i].descrizione+"</option>";
		 }else{
			 optionTipiMiele = optionTipiMiele + "<option value='"+ listaTipiMiele[i].idTipoMiele +"'>"+listaTipiMiele[i].descrizione+"</option>";
		 	}
	 	}


		var form = "<div class='text-center h2 text-warning my-5 bg-dark'>Modifica Produzione Miele: "
				+ produzioneMiele.idProduzione
				+ "<br /><br /></div>"
				+ "<div>"
				+"<form id='formInserimento'>"
				+ "<table class='table text-center'>"
				+ "<tr><th>dataProduzione</th><td>"
				+ "<input type='date' id='dataProduzione' name='dataProduzione' value='" + produzioneMiele.dataProduzione + "' required>"
				+ "</td></tr>"
				+ "<tr><th>Id arnia</th><td>"
				+ "<select name='idArnia' id='idArnia' required>"
				+ optionIdArnia
				+ "</select>"
				+ "</td></tr>"
				+ "<tr><th>Tipo miele</th><td>"
				+ "<select name='descrizione' id='descrizione' required>"
				+ optionTipiMiele
				+ "</select>"
				+ "<tr><th>qta</th><td>"
				+ "<input type='number' id='quantita' name='quantita' value='" + produzioneMiele.quantita + "' required>"
				+ "</td></tr>"
				+ "</table>"
				+ "</div> <div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitModificaProduzione("
				+ produzioneMiele.idProduzione
				+ ")'><i class='fa fa-edit'></i> conferma</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "<br /><br /></div>"
				+"</form>";

		$("body").append(form);
		$("#formInserimento").validate();
	}

	function inserimento() {
		$("body").empty();
		
		var optionIdArnia= "<option value=''>scegli...</option>";
		 var cnt = listaIdArnia.length;
		 for(var i=0; i<cnt; i++){
			 optionIdArnia = optionIdArnia + "<option value='"+ listaIdArnia[i].idArnia +"'>"+listaIdArnia[i].idArnia+"</option>";
		 }
		 
		 var optionTipiMiele= "<option value=''>scegli...</option>";
		 var cnt = listaTipiMiele.length;
		 for(var i=0; i<cnt; i++){
			optionTipiMiele = optionTipiMiele + "<option value='"+ listaTipiMiele[i].idTipoMiele +"'>"+listaTipiMiele[i].descrizione+"</option>";
		 }

		var form = "<div class='text-center h2 text-warning my-5 bg-dark'>Inserisci Produzione<br /><br /></div>"
				+"<form id='formInserimento'>"
				+ "<div class='row'>"
				+ "<div class='col-12'>"
				+ "<table class='table text-center'>"
				+ "<tr><th>dataProduzione</th><td>"
				+ "<input type='date' id='dataProduzione' name='dataProduzione' value='' required>"
				+ "</td></tr>"
				+ "<tr><th>Id arnia</th><td>"
				+ "<select name='idArnia' id='idArnia' required>"
				+ optionIdArnia
				+ "</select>"
				+ "</td></tr>"
				+ "<tr><th>Tipo miele</th><td>"
				+ "<select name='descrizione' id='descrizione' required>"
				+ optionTipiMiele
				+ "</select>"
				+ "</td></tr>"
				+ "<tr><th>qta</th><td>"
				+ "<input type='number' id='quantita' name='quantita' value='' required>"
				+ "</td></tr>"
				+ "</table>"
				+ "</div>"
				+ "</div>"
				+ "<div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitInserimentoProduzione()'><i class='fa fa-plus'></i> inserisci</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "<br /><br /></div>"
				+"</form>";

		$("body").append(form);
		$("#formInserimento").validate();
	}
	
	function submitModificaProduzione(idProduzione) {

		var check=$("#formInserimento").valid();
        if(check){
		var dataSubmit = "{"
			    + "\"dataProduzione\":" + "\"" + $("#dataProduzione").val() + "\","
			    + "\"arnia\":" + "{"
				+ "\"idArnia\":" + "\"" + $("#idArnia").val() + "\""
				+ "},"
			    + "\"tipoMiele\":" + "{"
				+ "\"idTipoMiele\":" + "\"" + $("#descrizione").val() + "\""
				+ "},"
			    + "\"quantita\":" + "\"" + $("#quantita").val() + "\""
				+"}";

		//alert(dataSubmit);
		
		$.ajax({
			type : "PUT",
			url : "http://localhost:8082/miele/" + idProduzione,
			contentType : "application/json",
			data : dataSubmit,
			success : function(data) {
				// alert(data);
				lista();
			}
		});
	}
	}	
	function submitInserimentoProduzione() {

		var dataSubmit ="{"
		  + "\"dataProduzione\":" + "\"" + $("#dataProduzione").val() + "\","
		    + "\"arnia\":" + "{"
			+ "\"idArnia\":" + "\"" + $("#idArnia").val() + "\""
			+ "},"
		    + "\"tipoMiele\":" + "{"
			+ "\"idTipoMiele\":" + "\"" + $("#descrizione").val() + "\""
			+ "},"
		    + "\"quantita\":" + "\"" + $("#quantita").val() + "\""
			+"}";
		//alert(dataSubmit);

		$.ajax({
			type : "POST",
			url : "http://localhost:8082/miele/",
			contentType : "application/json",
			data : dataSubmit,
			success : function(data) {
				// alert(data);
				lista();
			}
		});
	}
	
	function elimina(produzione) {

		$.ajax({
			type : "DELETE",
			url : "http://localhost:8082/miele/" + produzione.idProduzione,
			contentType : "application/json",
			success : function(data) {
				// alert(data);
				lista();
			}
		});
	}
	
</script>

</head>
<body>

</body>
</html>